# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# SQLite database
employees.db

# VS Code
.vscode/

# Uploaded Excel files
uploads/*
!uploads/.gitkeep

# Operating System
.DS_Store
Thumbs.db

service-account.json
*.json